body {
    background: url("../images/ep_naturalblack.png");
}
@font-face {
    font-family: newFont;
    src: url("../images/commando.ttf");
}
#logo {
    font-family: newFont;
    font-size: 175px;
    margin-top: 5%;
    -webkit-text-stroke: 3px rgb(190, 187, 187);
    background: -webkit-linear-gradient(#eb94d0, #2079b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 17%;
}
.input {
    width: 40%;
    margin: auto;
}
.main-button {
    margin-left: 44%;
    background: -webkit-linear-gradient(#eb94d0, #2079b0) !important;
    -webkit-background-clip: text;
}
.retro {
    margin: 0.7%;
    background: -webkit-linear-gradient(#eb94d0, #2079b0) !important;
    -webkit-background-clip: text;
}
#button-holder {
    width: 80%;
    margin: auto;
    padding: 1%;
}
.giphy-holder {
    position: relative;
    overflow: hidden;
    display: inline-table;
    background-color: white;
    margin-left: 10%;
    width: 80%;
    height: 500px;
}
.giphy-div {
    padding: 2%;
    float: left;
}
#ratings {
    padding: 1%;
}
.hidden {
    display: none;
}